@{
    ViewData["Title"] = "Seleccionar el reporte a mostrar";
}

<h2>@ViewData["Title"]</h2>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <a href="@Url.Action("VerEmpleados", "Reportes")" class="btn btn-primary btn-block">Historial de ascensos</a>
        </div>
        <div class="col-md-6">
            <a href="@Url.Action("VerEmpleados", "Graficos")" class="btn btn-primary btn-block">Historial de Ascensos</a>
        </div>
    </div>
</div>

<style>
    .container {
        text-align: center;
    }

    .btn-block {
        width: 100%;
        padding: 15px;
        font-size: 18px;
    }

    .mt-5 {
        margin-top: 3rem;
    }
</style>
