@{
    ViewData["Title"] = "Vista con Botones";
}

<h2>@ViewData["Title"]</h2>

<div class="text-center">

    <a href="@Url.Action("AsistenciaEntrada", "Asistencia")" class="btn btn-success mb-3">
        Agregar Hora de Entrada
    </a>

    <a href="@Url.Action("AsistenciaSalida", "Asistencia")" class="btn btn-success mb-3">
        Agregar Hora de Salida
    </a>
   
</div>
