
@model Complemento_Puesto
<h1>Puesto: @ViewBag.Puesto.NombrePuesto</h1>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-delete-later">
        @TempData["Error"]
    </div>
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-delete-later">
        @TempData["Success"]
    </div>
}

@{
    ViewData["Title"] = "Agregar Complemento";
}

<h2>Agregar Nuevo Complemento</h2>

<form asp-action="CrearComplemento" method="post">
    <div class="form-group">
        <label for="NombreComplemento">Nombre del Complemento:</label>
        <input type="text" class="form-control" id="NombreComplemento" name="NombreComplemento" required>
    </div>

    <div class="form-group">
        <label for="Monto">Monto:</label>
        <input type="number" class="form-control" id="Monto" name="Monto" step="0.01" min="0" required>
    </div>

    <input type="hidden" class="form-control" id="IdPuesto" name="IdPuesto" value="@ViewBag.Puesto.IdPuesto" required>


    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="VerComplementos" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    <script>
        setTimeout(function() {
            // Seleccionamos todos los elementos con la clase 'alert-delete-later'
            var alertElements = document.querySelectorAll('.alert-delete-later');
            alertElements.forEach(function(alert) {
                alert.remove();  // Eliminamos cada mensaje de la lista
            });
        }, 3000); // 3000 ms = 3 segundos
    </script>
}
