@{
    ViewData["Title"] = "Seleccionar Tipos de Deducciones o Deducciones Personales";
}

<h2>@ViewData["Title"]</h2>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <a href="@Url.Action("VerDeducciones", "Deduccion")" class="btn btn-primary btn-block">Tipos de Deducciones</a>
        </div>
        <div class="col-md-6">
            <a href="@Url.Action("VerEmpleados", "DeduccionesPersonales")" class="btn btn-primary btn-block">Deducciones Personales</a>
        </div>
    </div>
</div>

<style>
    .container {
        text-align: center;
    }

    .btn-block {
        width: 100%;
        padding: 15px;
        font-size: 18px;
    }

    .mt-5 {
        margin-top: 3rem;
    }
</style>
